@media screen and (max-width: 600px) {
  .Dropdown {
    position: fixed;  
    top:50px;           
    left: 0;       
    right: 0;   
    width:auto;     
    height: 10vh;    
    background-color: white;
    padding-top: 20px;
    /* box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.3);  */
    z-index: 1000; 
    border-radius: 0 0 2px 2px; 
    /* border: 1px solid black; */
    box-shadow: 1px 1px 1px grey,-1px -1px 1px grey;
    border-top: none;
    text-align: center;
  }

  .GitHub {
    color: black;
  }
  .GitHub:hover {
    color: blue;
  }
  .LinkedIn {
    color: black;
  }
  .LinkedIn:hover {
    color: blue;
  }
  a {
    text-decoration: none;
    display: block;
  }
  
}
.dropdown-menu-enter {
  height: 0;
  opacity: 0;
}
.dropdown-menu-enter-active {
  height: 10vh;
  opacity: 1;
  transition: height 100ms,opacity 100ms;
}
.dropdown-menu-exit {
  height: 10vh;
  opacity: 1;
}
.dropdown-menu-exit-active {
  height: 0;
  opacity: 0;
  transition: height 100ms,opacity 100ms;
}
