@media only screen and (max-width:600px) {
    header{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .BigScreen{
        visibility: hidden;
        height: 0;
        width: 0;
    }
    
   
}