@media screen and (max-width: 600px) {
  .SideBar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* min-height: 140px; */
  }
  
  .GitHub {
    color: black;
  }
  .GitHub:hover {
    color: blue;
  }
  .LinkedIn {
    color: black;
  }
  .LinkedIn:hover {
    color: blue;
  }
  a {
    text-decoration: none;
  }
}
